<div class="container">

  <h1> <%= @cocktail.name %></h1>

  <% @doses.each do |dose| %>
    <p> <%= "#{dose.ingredient.name} - #{dose.description}" %> <span><%= link_to 'delete', dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }  %></span></p>
  <% end %>

  <%= link_to 'Add ingredients', new_cocktail_dose_path(@cocktail), class: 'btn btn-primary'  %>

  <%= link_to 'All cocktails', cocktails_path, class: 'btn btn-primary' %>
</div>



