<div class="container">

  <h1> <%= @cocktail.name %></h1>

  <% @doses.each do |dose| %>
    <p> <%= "#{dose.ingredient.name} - #{dose.description}" %> <span><%= link_to 'delete', dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }  %></span></p>
  <% end %>

  <div>
    <h2>Add your ingredients here</h2>
    <%= render 'doses/form' %>
  </div>
  <%= link_to 'All cocktails', cocktails_path, class: 'btn btn-primary' %>
</div>



